/venv/
/.ideavenv/

/my_script/telegram_project/sergei/forward_message/my_account/sergei_anatolievich_yakovenko_account.session
/my_script/telegram_project/sergei/forward_message/my_account/ups_smirnova_account.session
/my_script/telegram_project/sergei/forward_message/my_account/yakvenalexx_account.session
/my_script/telegram_project/sergei/forward_message/my_account/tanya_golubkova_account.session
/my_script/telegram_project/sergei/forward_message/my_account/yakvenalexx_account.session-journal
/my_script/telegram_project/sergei/forward_message/my_account/sergei_anatolievich_yakovenko_account.session-journal
