/venv/
/.ideavenv/

/my_script/telegram_project/sergei/forward_message/my_accaunt/sergei_anatolievich_yakovenko_account.session
/my_script/telegram_project/sergei/forward_message/my_accaunt/ups_smirnova_account.session
/my_script/telegram_project/sergei/forward_message/my_accaunt/yakvenalexx_account.session
